gameprinthub.online {
    tls zyabrina95@gmail.com
    encode gzip

    @api path /api/*
    handle @api {
        reverse_proxy backend:5000
    }

    # everything else that is not /api/* goes to frontend
    handle {
        reverse_proxy frontend:3000
    }
}


# www -> non-www
www.gameprinthub.online {
    redir https://gameprinthub.online{uri}
}
