---
- name: Create env files for app
  copy:
    dest: "{{ project_dir }}/{{ item }}"
    mode: "0640"
    content: |
      NODE_ENV=production
      BACKEND_PORT=5000
      FRONTEND_PORT=3000
      NEXT_PUBLIC_API_URL=http://{{ hostvars[inventory_hostname].ansible_host | default(inventory_hostname) }}/api
  loop:
    - .env
    - .env.production
