- name: Ensure project directory exists TODO remove this task when infra is complete
  file:
    path: "{{ project_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  tags: deploy

- name: Sync app repo from GitHub
  git:
    repo: "{{ app_repo_url }}"
    dest: "{{ project_dir }}"
    version: "{{ app_repo_version }}"
    force: yes
  tags: deploy

- name: Ensure frontend app directory exists TODO remove this task when infra is complete
  file:
    path: "{{ project_dir }}/apps/frontend"
    state: directory
    owner: root
    group: root
    mode: "0755"
  tags: deploy

- name: Generate frontend .env.production
  ansible.builtin.template:
    src: templates/secrets/frontend.env.production.j2
    dest: "{{ project_dir }}/apps/frontend/.env.production"
    mode: "0600"
  tags: deploy
