---
- name: Prepare server and deploy app
  hosts: webservers
  become: true

  vars:
    project_dir: /root/gamePrintHub
    docker_compose_file: docker-compose.yml
    caddyfile_name: Caddyfile

    app_repo_url: "https://github.com/Zyabridos/gamePrintHub.git"
    app_repo_version: "feature/prod-infra-terraform-ansible"

  roles:
    - role: docker
      tags: ["deploy", "docker"]
    - role: app
      tags: ["deploy", "app"]
