---
- name: Prepare server and deploy app
  hosts: webservers
  become: true

  vars:
    project_dir: /opt/frostops
    docker_compose_file: docker-compose.yml
    caddyfile_name: Caddyfile

    app_repo_url: "https://github.com/Zyabridos/gamePrintHub"

  roles:
    - role: docker
      tags: ["deploy", "docker"]
    - role: app
      tags: ["deploy", "app"]
