# frontend .env.production

NODE_ENV={{ frontend_env_vars.NODE_ENV }}
BACKEND_PORT={{ frontend_env_vars.BACKEND_PORT }}
FRONTEND_PORT={{ frontend_env_vars.FRONTEND_PORT }}

NEXT_PUBLIC_API_URL={{ frontend_env_vars.NEXT_PUBLIC_API_URL }}

# Sanity (public values)
NEXT_PUBLIC_SANITY_PROJECT_ID={{ frontend_env_vars.NEXT_PUBLIC_SANITY_PROJECT_ID }}
NEXT_PUBLIC_SANITY_DATASET={{ frontend_env_vars.NEXT_PUBLIC_SANITY_DATASET }}
NEXT_PUBLIC_SANITY_API_VERSION={{ frontend_env_vars.NEXT_PUBLIC_SANITY_API_VERSION }}
